<html>
    <head>
        <script type="text/javascript" src="libs/vue.js"></script>
        <script type="text/javascript" src="libs/axios.js"></script>
    </head>
    <body>
    <a href="index.html"><b>Home</b></a><br> <br>
        <div id="update">
            Update the house with id : {{ id }} <br><br><br>
            Name: <input type="text" v-model="house.name"><br><br>
            Area: <input type="text" v-model="house.area"><br><br>
            Style: <input type="text" v-model="house.style"><br><br>
            Stage: <input type="text" v-model="house.stage"><br><br>
            Rooms number: <input type="text" v-model="house.roomsNo"><br><br>
            Status: <input type="text" v-model="house.status"><br><br>
            Construction year: <input type="text" v-model="house.year"><br><br>
            Price: <input type="text" v-model="house.price"><br><br>
            Location: <input type="text" v-model="house.location"><br><br>
            <button  v-on:click="update(house.id)"><b><i>Save</i></b></button><br><br>

            <p>{{message}}</p>

        </div>

        <script src="src/update.js"></script>
    </body>
</html>
